.posts-article {
  margin: 50px 0;
  .container {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
  }
}

.posts-item {
  padding: 15px;
  & img {
    margin-bottom: 12px;
  }
  &__info {
    & h3 {
      font-size: 1.5rem;
      font-family: sans-serif;
      margin-bottom: 12px;
    }
    & a {
      font-size: 1rem;
      font-family: sans-serif;
      margin-bottom: 12px;
      color: #000;

      &:hover {
        color: brown;
      }
    }
  }
}
