.header {
  width: 100%;
  .header-container {
    max-width: 1440px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.nav {
  align-self: center;
  max-width: 500px;
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    position: relative;
    margin: 0 5px;
    padding: 5px 15px;

    &:hover {
      & a {
        color: #000;
      }
      .dropdown {
        display: block;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        clip: auto;
        left: 15px;
        top: 35px;
        position: absolute !important;
        & li {
          & a {
            color: #fff;
          }
        }
      }
    }
    &:last-child {
      padding-right: 0px;
    }

    & a {
      font-size: 16px;
      font-family: sans-serif;
      color: #fff;
    }

    .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%;
      padding: 0;
      position: absolute;
      z-index: 99;
      display: block;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);

      & li {
        width: max-content;
        height: auto;
        margin-bottom: 15px;
        background: #000;
        padding: 5px 15px;

        &:hover {
          & a {
            color: red;
          }
        }
      }
    }
  }
}
