.single-posts {
  margin: 50px 0;
  .container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;

    & h1 {
      font-family: sans-serif;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 100px;
    }
  }
}

.single-post {
  &__info {
    max-width: 400px;
    width: 100%;
    font-family: sans-serif;
    & h2 {
      font-size: 2rem;
      margin-bottom: 10px;
    }
    & span {
      display: block;
      font-size: 1.1rem;
      margin-bottom: 16px;
      color: #d6d6d6;
      letter-spacing: 1px;
    }
    & p {
      font-size: 1rem;
      line-height: 1.4rem;
    }
  }
}
